---
import { Icon } from "astro-icon/components";
import 'cooltipz-css';

const links = {
    "cashapp": "https://cash.app/$TheClutchess101",
    "discord": "https://discord.gg/pwFnru96xf",
    "facebook": "https://www.facebook.com/TheClutchess101/",
    "instagram": "https://www.instagram.com/amybabyzs",
    "kick": "https://www.kick.com/amybabyz",
    "livespace": "https://live.space/AmyBabyZ",
    "onlyfans": "https://onlyfans.com/amybabyz",
    "paypal": "https://www.paypal.me/TheAmyBabyZ",
    "snapchat": "https://t.snapchat.com/u4O0xXBF",
    "throne": "https://throne.me/u/amybabyz/wishlist",
    "tiktok": "https://www.tiktok.com/@amybabyz1",
    "trovo": "https://trovo.live/s/AmyBabyZ",
    "twitter": "https://x.com/TheAmyBabyZ"
}
---
<section class="links">
    <div class="gifts section">
        <h2 class="title">Gifts & Donos</h2>
        <ul class="list">
            <!-- <li class="item"><a href={links.paypal} target="_blank" class="link cooltipz--bottom" aria-label="PayPal"><Icon name="paypal" class="icon" /></a></li> -->
            <li class="item"><a href={links.cashapp} target="_blank" class="link cooltipz--bottom" aria-label="CashApp"><Icon name="cashapp" class="icon" /></a></li>
            <li class="item"><a href={links.throne} target="_blank" class="link cooltipz--bottom" aria-label="Throne"><Icon name="throne" class="icon" /></a></li>
        </ul>
    </div>
    <div class="social section">
        <h2 class="title">Social Media</h2>
        <ul class="list">
            <li class="item"><a href={links.instagram} target="_blank" class="link cooltipz--bottom" aria-label="Instagram"><Icon name="instagram" class="icon" /></a></li>
            <li class="item"><a href={links.snapchat} target="_blank" class="link cooltipz--bottom" aria-label="Snapchat"><Icon name="snapchat" class="icon" /></a></li>
            <li class="item"><a href={links.onlyfans} target="_blank" class="link cooltipz--bottom" aria-label="OnlyFans"><Icon name="onlyfans" class="icon" /></a></li>
            <li class="item"><a href={links.facebook} target="_blank" class="link cooltipz--bottom" aria-label="Facebook"><Icon name="facebook" class="icon" /></a></li>
            <li class="item"><a href={links.tiktok} target="_blank" class="link cooltipz--bottom" aria-label="TikTok"><Icon name="tiktok" class="icon" /></a></li>
            <li class="item"><a href={links.twitter} target="_blank" class="link cooltipz--bottom" aria-label="Twitter"><Icon name="twitter" class="icon" /></a></li>
        </ul>
    </div>
    <div class="community section">
        <h2 class="title">Community</h2>
        <ul class="list">
            <li class="item"><a href={links.trovo} target="_blank" class="link cooltipz--bottom" aria-label="Trovo"><Icon name="trovo" class="icon" /></a></li>
            <li class="item"><a href={links.kick} target="_blank" class="link cooltipz--bottom" aria-label="Kick"><Icon name="kick" class="icon" /></a></li>
            <li class="item"><a href={links.livespace} target="_blank" class="link cooltipz--bottom" aria-label="LiveSpace"><Icon name="livespace" class="icon" /></a></li>
            <li class="item"><a href={links.discord} target="_blank" class="link cooltipz--bottom" aria-label="Discord"><Icon name="discord" class="icon" /></a></li>
        </ul>
    </div>
</section>

<style>
    ul {
        list-style-type: none;
        padding: 0;
    }
    a {
        color: inherit;
    }

    .links {
        margin-top: 7vh;
    }
    .section {
        border: 4px solid var(--gray);
        margin: 5vh 7vw;
        padding: 2vh 7vw 4vh;
    }
    .title {
        color: var(--primary);
        margin-bottom: 1em;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .icon {
        min-height: 70px;
        width: auto;
        max-width: 70px;
        color: var(--accent);
    }
    .icon:active {
        color: var(--primary);
    }

    @media (min-width: 1000px) {
        .links {
            margin-top: 0;
        }
        .section {
            margin: 0 4vw 4vh;
            padding: 2vh 1vw 3vh;
        }
        .list {
            gap: 1.5em;
        }
        .icon {
            min-height: 50px;
            max-width: 50px;
        }
    }
    @media (min-width: 1600px) {
        .section {
            margin: 0 1.5vw 4vh;
            padding: 2vh 1.5vw 3vh;
        }
    }
    @media (min-width: 2000px) {
        .section {
            margin: 0 1vw 4vh;
            padding: 2vh 1vw 3vh;
        }
    }
</style>