---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';

import Resets from '@julian_cataldo/astro-resets/Resets.astro';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Resets -->
    <Resets
      removeAllMargins={true}
      fontSmoothing={true}
      fontSystem={true}
      scrollSmooth={true}
      borderBox={true}
      scrollBarKeep={true}
    />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>AmyBabyZ ◇ {title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .container {
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
</style>

<style is:global>
  :root {
    --font-family: 'Work Sans';
    --white: #f5f5f5;
    --black: #141414;
    --off-black: #404040;
    --primary: #22E833;
    --accent: #FB48C4;
    --accent-light: #FEC8ED;
  }

  /* * { border: 1px solid pink } */

  html {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-family), sans-serif;
    text-size-adjust: 100%;
    text-align: center;
  }

  body {
    margin: 0;
  }
</style>
